.post-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {
  list-style: none;
  cursor: pointer;
}

.post > h2 {
  padding: 0.2rem;
  font-weight: 400;
  border: 1px solid #000;
}
