.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

button {
  font-size: large;
  background-color: #fff;
  border-radius: 0.5rem;
  color: blueviolet;
  padding: 1rem;
  cursor: pointer;
  margin-right: 1rem;
  border-style: none;
  text-decoration: underline;
}

section {
  width: 60vw;
  text-align: center;
}
